.background {
    background: #909aa3 url("../images/neurons.jpg") no-repeat;
    background-size: cover;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
}

.centered {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.centered > div, .centered > a, .container {
    border-radius: 1em;
    font-family: Comfortaa, cursive;
    opacity: 0.85;
    text-align: center;
}

.centered > div, .container {
    background-color: #fff;
    padding: 2em;
}

.centered > a {
    background: #fff linear-gradient(to bottom, #fff, #909aa3);
    background-size: auto 10em;
    color: inherit;
    display: block;
    padding: 1em;
    text-decoration: none;
    transition: background 1s, color 1s;
}

.centered > a:hover {
    background-color: #909aa3;
    background-position: 0 100%;
    color: #fff;
}

.container {
    padding-bottom: 0.5em;
}
