div#header {
    border: 1px solid #007;
    box-shadow: 4px 4px 10px #007;
    font-family: Revalia, cursive;
    margin: 1em auto;
    padding: 1em;
}

div#header h3 {
    font-style: italic;
}

div.image {
    border: 1px solid #007;
    margin: 0.5em;
    padding: 0.5em;
    transition: box-shadow 1s, width 1s;
    width: 20em;
}

div.image:hover {
    box-shadow: 0 0 10px #007;
    width: 20.25em;
}

div.image p {
    font-family: Lato, sans-serif;
    margin-top: 0.5em;
}
