@font-face {
    font-family: Lato;
    src: url("../fonts/Lato.ttf");
}

@font-face {
    font-family: Lato-Light;
    src: url("../fonts/Lato-Light.ttf");
}

@font-face {
    font-family: Raleway;
    src: url("../fonts/Raleway.ttf");
}

body {
    background-image: url("../images/background.png");
    font-family: Raleway;
    margin-left: 55px;
    transition: margin-left 0.25s;
}

h1 {
    font-family: Lato;
}

a {
    transition: color 0.5s;
}

a:focus, a:hover {
    text-decoration: none;
}

#github {
    border-bottom: 1px dashed gray;
    color: #aaa;
    cursor: pointer;
    transition: color 0.5s;
}

#github:hover {
    color: #777;
}

#navbar-button {
    cursor: pointer;
    margin-left: -55px;
    margin-top: 18px;
    position: fixed;
    transition: color 0.25s, margin-left 0.25s;
    z-index: 1;
}

#navbar-left {
    background-color: black;
    font-family: Lato-Light;
    height: 100%;
    margin-left: -110px;
    padding-top: 80px;
    position: fixed;
    transition: margin-left 0.25s;
    min-width: 55px;
    visibility: hidden;
}

#links .panel, #links .panel-heading {
    background-color: #777;
    border: none;
    border-radius: 0;
}

#links h4 > a {
    color: #fff;
    display: block;
    font-weight: bold;
}

#links h4 > a:hover {
    color: #bbb;
}

#links .list-group-item {
    border-radius: 0;
}

#current .panel-heading {
    background-color: #aaa;
}

#current-list {
    background-color: #f5f5f5;
}

.container a {
    color: #aaa;
}

.container a:not([class=bookmarklet]) {
    border-bottom: 1px dashed gray;
}

.container a:hover {
    color: #777;
}

div:not([class=container]) p:nth-child(2) {
    display: inline-block;
}

.bookmarklet {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
}
