a, #github {
    border-bottom: 1px dashed gray;
    color: #aaa;
    transition: color 0.5s;
}

#github {
    cursor: pointer;
}

a:hover, #github:hover {
    color: #777;
}

a:hover {
    text-decoration: none;
}
